@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 1rem;
}

/* Layout */
header,
footer {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

footer {
  margin-top: 4rem;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none
}

.fa-brands {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.highlights {
  padding: 0.2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.highlight-card {
  background-color: #dadada;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-me-paragraph p {
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.facts-about-me {
  padding-top: 0.7rem;
}

.facts-about-me ul {
  padding-top: 0.7rem;
  list-style: none;
}

.card-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.card {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex; /* Make content fill vertical space */
  flex-direction: column;
  justify-content: space-between;
}

/* Maintain consistent media scaling */
.card img,
.card video {
  width: 100%;
  border-radius: 0.5rem;
}

.card h3 {
  margin-top: 0.8rem;
  font-size: 1.2rem;
}

.food-img {
  width: 100%;
  height: 200px; /* force same height across cards */
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}

/* Headers, Titles & Text */
.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 0.6rem
}

.main-title, .logo {
  font-family: "Winky Rough", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.highlights-title {
  text-align: center;
}

.sub-title {
  font-weight: 600;
}

p {
  font-family: "Special Gothic", sans-serif;
}

.showcase h3 {
  padding: 0.7rem;
}

/* Responsive tweaks */
@media (min-width: 768px) {
  .nav-links {
    gap: 2rem;
  }

  main {
    padding: 2rem;
  }

  .hero {
    text-align: center;
    padding: 2rem;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .highlight-card {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
}
